body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    display: flex;
    padding: 0 20px;
    background-color: #1f2937;
    color: white;
    align-items: center;
}

.content-first > *{
    color: white;
}

.header ul{
    display: flex;
    margin-left: auto;
}

.header li{
    color: white;
    list-style: none;
    padding: 5px;
}

.header li:hover{
    color: aqua;
}

.header img{
    height: 75px;
    width: auto;
}

.footer{
    text-align: center;
    background-color: #1f2937;
}

.footer p{
    color: white;
}

.content-first{
    display: flex;
    align-items: center;
    padding: 50px 50px 100px;
    background-color: #1f2937;
    justify-content: center;
}

.content-first img{
    height: 350px;
    width: auto;
}

.content-first h2{
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.content-first p{
    font-size: 18px;
    color: #e5e7eb;
}

.content-first button {
    background-color: #3882f6;
    color: #e5e7eb;
}

.left{
    flex-basis: 500px;
}

.top{
    text-align: center;
}

.btm{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.btm img{
    width: 300px;
    height: 300px;
    border: 5px solid #1f2937;
    border-radius: 5%;
}

img{
    margin: 10px;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-third{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.name {
    align-self: flex-end;
    font-weight: bold;
}

.content-third p{
    margin: 0;
}

.content-fourth{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    margin: 75px 300px;
    padding: 20px 50px;
    justify-content: space-between;
}

.content-fourth p {
    margin: 0;
    color:#f9faf8 ;
}

.content-fourth button{
    background-color: #3882f6;
    color: #e5e7eb;
}

.left > .big{
    font-size: 20px;
    font-weight: bold;
}

.left > .small {
    font-size: 15px;
}