body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    display: flex;
    padding: 0 20px;
    background-color: #1f2937;
    color: white;
    align-items: center;
}

.content-first > *{
    color: white;
}

.header ul{
    display: flex;
    margin-left: auto;
}

.header li{
    color: white;
}

.footer{
    text-align: center;
    background-color: #1f2937;
}

.footer p{
    color: white;
}

.content-first{
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #1f2937;
}

.top{
    text-align: center;
}

.btm{
    display: flex;
    justify-content: center;
    padding: 10px;
}

img{
    margin: 10px;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-third{
    text-align: center;
}

.content-fourth{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    margin: 30px;
    padding: 20px;
    justify-content: space-between;
}